

/*HEADER*/
header{
     width: 90vw;
    height: 45vw;
    
    border-radius: 20px;

    background-image: url(../Bilder/Header/Headerpic.jpg);
    background-size: cover;
    position:absolute;

    top:6vw;
    left: 5vw;
}
     
/*title*/
header h1{
    
    color: gold;
    
    font-family: roboto-reg;
    z-index: 2;
    
    margin: 0;
}
header #title{
    
    position: absolute;
    width: 420px;
    height: 200px;
    left: 21vw;
    top: 10vw;
    transition: 0.5s;
}
header #title div#h1bg{
    
    position: absolute;
    z-index: 1;
    
    width: 100%;
    height: 100%;
    
    background-color: lightgrey;
    opacity: 0.7;
}
header #title h1#prot{
    
    position: absolute;
 
    left: 30px;
    font-size: 80px;
    
    color: gold;
    
}
header #title h1#prot:before{
    color: black;
    content: "Pro";
}
header #title h1#fix{
  
    position: absolute;
    left:0px;
    font-size: 70px;
    top: 100px;
    left: 150px;
    
}

/* Shop button i header */
button#shop{
    color: floralwhite;
    position: absolute;
    right: 200px;
    bottom: 100px;
    color: gold;
    border-color: gold;
    font-size: 30px;
}
button#shop:hover{
       
     border-color: gold;
    font-size: 40px;
}

/*erbjudande vis dian av header*/
header #erb{
    width: 30vw;
    height: 45vw;
    
    transition: 0.5s;
    position: absolute;
    
    top: 0px;
    z-index: 1;
    
    
}
header #erb #secbg{
    
    
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.90;
    filter: blur(5px);
    z-index: 0;
    position: absolute;
    
}
header #erb div#bild{
    background-image: url(../Bilder/Header/Protein.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 10vw;
    height:10vw;
    
    left: 15vw;
    top: 24vw;
    
    z-index: 20;
    
    
}
header #erb h3#erbTitle{
    top: 29vw;
    z-index: 10;
    width: 350px;
    height: 50px;
    font-family: roboto-reg;
    position:absolute;
    text-align: center;
    font-size: 30px
}
header #erb h3#erbUnder{
    top: 28vw;
    z-index: 10;
    width: 350px;
    height: 50px;
    font-family: roboto-reg;
    font-size: 15px;
    position:absolute;
    text-align: center;
    
    color: gold;
    
}
header #erb #erbPrice{
    top: 29vw;
    z-index: 10;
    width: 250px;
    height: 100px;
    font-family: roboto-reg;
    font-size: 80px;
    position:absolute;
    text-align: center; 
    color: gold;
    
    
}
header #erb button#show{
    
    width: 10vw;
    height: 5vw;
    
    position: absolute;
    top: 35vw;
    left: 240px;
    
    font-size: 30px;
    
     border: none;
    box-sizing: border-box;
    
    border: 2px black solid; 
   
    font-family: roboto-bold;
    font-size-adjust: auto;
    
    
    
}

/*SECTIONS*/

/* Section Offer */
section.off button{
    
    font-size: 40px;
    color: gold;
    text-align: center;
    
}
.off{
    
    width: 90vw;
    margin-top: 1vw;
    left: 5vw;
    height: 400px;
    
    position: absolute;
    
    
    
    background-color: red;
    border-radius: 10px;
    
    background-image: url(../Bilder/Section/bak.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#off{
    top: 90vw;
}
.off #offbild{
    height: 80%;
    width: 20%;
    top: 60px;
    position: absolute;
    
    background-image: url(../Bilder/Section/Gainer.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.off #offbutt{
    position: absolute;
    right: 10%;
    top: 40%;
}
.off #offbg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    border-radius: 10px;
    
}
.off #offtitle{
    position: absolute;
    
    top: 40px;
    left: 300px;
    font-size: 40px;
    
    font-family: roboto-bold;    
}
.off #offunder{
    position: absolute;
    font-size: 70px;
    
    left: 300px;
    top: 100px;
    border: Gold 2px solid; 
}
.off #offunder::after{
    content: "Sale";
    color: gold;
}
#off p::before{
    color: white;
    content: "Kolla in vårat superbra erbjudande från Leagion";
}
#off p{
    position: absolute;
    width: 200px;
    height: 220px;
    text-align: center;
    border-radius: 10px;
    
    font-family: roboto-bold;
    font-size: 30px;
    left: 650px;
    top: 60px;
    
    color: gold;
    background-color: rgba(0,0,0,0.6);
    content: "40%";
    border: gold 2px solid;
    
    
}

/* Section offer number 2*/
#off2{
    
    
    
    top: 60vw;
   
   
}
#off2 #offbild{
    height: 100%;
    width: 400px;
    left: 60px;
    top: 100px;
    background-image: url(../Bilder/Section/Powders.png);
}
#off2 #offtitle{
    left: 500px;
    top: 20px;
    color: gold;
    font-size: 60px;
}
#off2 p{
    position: absolute;
    width: 350px;
    font-family: roboto-bold;
    left: 500px;
    top: 140px;
    font-size: 20px;
    color:white;
}
#off2 p:after{
    color: gold;
    content: " Gratis!"
        
}
#off2 div#pbg{
    width: 450px;
    height: 260px;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    left: 450px;
    top: 50px;
    border-radius: 10px;
    
    border:gold 2px solid;
    
}

section#items{
    width: 90vw;
    left: 5vw;
    height: 1100px;
   
    
    position: relative;
    top: 115vw;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
}
section#items div.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: grey;
    opacity: 0.7;
    z-index: 0;
    border-radius: 10px;
    
}
section#items div.item{
    width: 28%;
    margin-left: 4%;
    margin-top: 1%;
    height: 45%;
    position: relative;
    background-image: url(Bakbild3.png);
    background-size: cover;
    border-radius: 10px;
    
    border: solid black 1px;
   
}

section#items div.item div#itembild{
    width: 60%;
    top: 0px;
    height: 250px;
    
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 20%;
    
}
section#items div#item1 div#itembild{
    
    background-image: url(../Bilder/Items/CASEIN.png);
}
section#items div#item2 div#itembild{
    background-image: url(../Bilder/Items/100%25%20Whey.png);
}
section#items div#item3 div#itembild{
    background-image: url(../Bilder/Items/Protein.png);
}
section#items div#item4 div#itembild{
    background-image: url(../Bilder/Items/Bcaa.png);
}
section#items div#item5 div#itembild{
     background-image: url(../Bilder/Items/AEE.png);   
}
section#items div#item6 div#itembild{
    background-image: url(../Bilder/Items/PWO.png);
}


section#items div.item h2{
    position: relative;
    font-size: 30px;
    font-family: roboto-bold;
    color: white;
    width: 100%;
    text-align: center;
}
section#items div.item h3{
    position: relative;
    width: 100%;
    top: -30px;
    font-size: 15px;
    text-align: center;
    color: lightgrey;
}
section#items div.item p{
    position: relative;
    width: 100%;
    text-align: center;
    top: -40px;
    font-size: 20px;
    font-family: roboto-bold;
}
section#items div.item button{
    position: relative;
    left: 30%;
    width: 40%;
    
    bottom: 50px;
    border-color: gold;
    font-size: 40px;
    
}
section#items div.item button p#norm{
    position: absolute;
    font-size: 40px;
    top: -20px;
    transition: 0s;
    color: gold;
    width: 100%;
    height: 100%;
    
}
section#items div.item button:hover p#norm{
    opacity: 0;
    
}
section#items div.item button p#norm::after{
    content: ":-";
    
}
section#items div.item button p#hov{
    position: absolute;
    font-size: 40px;
    top: -20px;
    left: 0;
    text-align: center;
    transition: 0s;
    color: gold;
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
    
}
section#items div.item button:hover p#hov{
    
    opacity: 1;
}



/* FOOTER */
footer{
    height: 458px;
    
    width: 100%;
    box-sizing: border-box;
    
    position: absolute;
    top: 180vw;
    
    border: transparent solid 5px;
    transition: 1s;
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
}
footer button.butt{
    height: calc(100% * (1/2) - 20px);
    width: calc(100% * (1/3) - 20px);
    margin: 10px;
}
footer.add button{
    color:gold;
    border-color: gold;
    font-size: 40px;
}
footer button:hover{
    color: black;
    background-color: gold;
    content:"Kontakt us";
}
footer.add{
    border-color: gold;
}
footer .logo{
    width: 400px;
    height: 200px;
    position: relative;
    background-color: beige;
    left:37%;
}

/*Set new nav for mobile screens*/

/*Header*/
@media only screen and (max-width: 1400px){
    header section#erb #bild{
        left: 20%;
        top: 39%;
    }
   
    header section#erb h3#erbUnder{
        width: 240px;
    }
    header section#erb h3#erbTitle{
        width: 240px;
        left: 0;
        
        
    }
    header section#erb h3#erbPrice{
        font-size: 50px;
        left: 43%;
        top: 56%;
    }
    
     header section#erb button#show{
    
        width: 200px;
        height: 80px;
        left: 20%;
         font-size: 40px;
         top: 82%;
    }
    
    header button#shop{
        left: 70%;
        
    }
    
    
    
}
@media only screen and (max-width: 1000px) {
    header{
        height: 960px;;
        
        
    }
    header #title{
        left: 10vw;
    }
    header #secbg{
        border-radius: 20px;
    }
    header #erb{
        
        top: 580px;
        
        width: 100%;
        height: 39%;
        

        
        
    }
    
    
    header section#erb div#bild{
        width: 200px;
        height: 200px;
        left: 30px;
        top: 100px;
        
    }
    header section#erb h3#erbUnder{
        
        top: 10px;
        left: 40vw;
        font-size: 30px;
    }
    header section#erb h3#erbPrice{
        top: 0vw;
        font-size: 80px;
    }
    
    header section#erb h3#erbTitle{
        top: 180px;
        left: 40vw;;
        
    }
    header section#erb button#show{
        
        top: 270px;
        left: 43vw;
    }
    header button#shop{
        top: 400px;
        left: 30vw;
    }
    
    
    
}
@media only screen and (max-width: 700px) {
    header #title{
        
        left: 5%;
    }
    
    
    
    
}

/*Section*/
@media only screen and (max-width: 1400px){
    
    .off{
    
    height: 300px;
    
    }
    
    .off h3#offunder{
        top: 24%;
    }
    
    
    #off p{
        top: 10%;
    }
    
    
    #off2 h3#offtitle{
        top: -2vw; 
        left: 445px;
    }
    #off2 div#pbg{
        top: 2vw;
        left: 390px;
    }
    #off2 p{
        left: 440px;
        top:100px; 
    }
    
    #off2 div#offbild{
        top: 10px;
        left: 1px;
    }
    
    
    .off button#offbutt{
        right: 15px;
        transition: 1s;
    }
    
}
@media only screen and (max-width: 1300px){
    
    .off #offbild{
        width: 240px;
        height: 300px;
        top: 20px;
    }
    
    .off button#offbutt{
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0;
        
    }
    
    
    #off2 div#pbg{
        left: 500px;
        
    }
    
    #off2 h3#offtitle{
        left: 545px;
    }
    
    #off2 p{
        left: 540px;
    }
    
    
    #off p{
        top: 10px;
    }
    
    
    
}
@media only screen and (max-width: 1200px){
    
    #off2 div#pbg{
        left: 450px;
        
    }
    
    #off2 h3#offtitle{
        left: 495px;
    }
    
    #off2 p{
        left: 490px;
    }
    
    
    
    
    
}

/*ITEMS*/
@media only screen and (max-width: 1600px){
    
    section#items{
        top: 130vw;
    }
    
}
@media only screen and (max-width: 1400px){
    
    
    section#items{
        height: 800px;
    }
    /*Text*/
    section#items div.item h2{
        font-size: 23px;
        top: -15px;
    }
    
    section#items div.item h3{
        font-size: 15px;
    }
    
    section#items div.item p{
        font-size: 15px;
    }
    
    /*Button*/
    section#items div.item button{
        width: 50%;;
        height: 20%;
        left: 25%;
    }
    section#items div.item button p#norm{
        
        top: -30px;
    }
    section#items div.item button p#hov{
        top: -30px;
    }
    
    
    
    
    section#items div.item div#itembild{
        
        height: 200px;
    }
    
}

/*Footer*/ 
@media only screen and (max-width: 1600px){
    
    footer{
        top: 220vw;
    }
    
}
@media only screen and (max-width: 1000px) {
   
    
    
}
@media only screen and (max-width: 600px) {
    
    header{
        left: 0;
        width: 100vw;
    }
    header div#title{
        left: 5px;
    }
    section#off{
        left: 100px;
        width: 100vw;
    }
    
    
}
@media only screen and (max-width: 1000px) {
    
    
    #off2{
        top:1200px;
        height: 600px;
    }
    
    #off2 div#offbild{
        width: 60%;
        left: 20%;
       position: absolute;
    }
    
    #off2 div#pbg{
        position: absolute;
        left: 10%;
        width: 80%;
        height: 50%;
        top: 45%
    }
    
    #off2 h3#offtitle{
        text-align: center;
        left: 10%;
        
        width: 80%;
        height: 50%;
        top: 38%
    }
    #off2 p{
        left: 15%;
        width: 70%;
        height: 50%;
        top: 60%;
        font-size: 30px;
    }
    
    
    #off{
        top: 2000px;
        
        height: 700px;
    }
    #off div#offbild{
        height: 100%;
        width: 50%;
        left: 25%
        
    }
    #off h3#offtitle{
        top: 50%;
        width: 40%;
        left: 30%;
        text-align: center;
    }
    #off h3#offunder{
        top: 55%;
        width: 40%;
        left: 30%;
        text-align: center;
    }
    #off p{
        top:78%;
        height: 15%;
        width: 70%;
        left: 15%;
        text-align: center;
    }
    
    section#items{
        top: 3000px;
        height: 1000px;
        width: 80%;
        left: 12%;
        flex-flow: column;
        overflow-y: scroll;
        overflow-x: hidden;
        
    }
    section#items div.item{
        height: 800px;
        width: 90%;
        margin: none;
        padding: none;
        
    }
    section#items div.item div#itembild{
        width: 60%;
        height: 100%;
        left: 20%;
    
        
    
    
    
    }    
    section#items div.item h2{
        
        
        position: absolute;
    
        top: 50%;
        font-size: 40px;
    
    
    
    } 
    
    section#items div.item h3{
        
        
        position: absolute;
    
        top: 55%;
        font-size: 35px;
    
    
    
    } 
    section#items div.item p{
        
        
        position: absolute;
    
        top: 60%;
        
        font-size: 30px;
    
    
    } 
    section#items div.item button{
        
        
        position: absolute;
    
        top: 70%;
        
    
        font-size: 50px;
    
    } 
    
    section#items div.item button p#norm{
        font-size: 60px;
        top: -20px;
        position: absolute;
    } 
    section#items div.item button p#hov{
        font-size: 60px;
        width: 100%;
        height: 100%;
        left: 0;
        top: -20px;
    
    } 
    footer{
        top: 4400px;
    }
    
}





