html{
    
    margin: 0;
    padding: 0;
    overflow: hidden;    
    
    max-width: 100vw;
    
    margin: 0;
    padding: 0;
}
#content{
    width: 100vw;
    height: 100vh;
    
    max-width: 100vw;
    
    
    
}
@font-face{
    font-family: roboto-reg;
    src: url(../Fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: roboto-med;
    src: url(../Fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: roboto-bold;
    src: url(../Fonts/Roboto-Bold.ttf);
}
@font-face{
    font-family: roboto-black;
    src: url(../Fonts/Roboto-Black.ttf);
}

body{
    top: 0px;
    margin: 0;
    
    
}

/*NAVIGATION*/
/*General*/
button{
        width: 200px;
    height: 100px;
    box-sizing: border-box;
    
    border: 4px black solid; 
    background-color: transparent;
    font-family: roboto-bold;
  
    
    transition-duration: 0.2s;
    
    cursor: pointer;
}
button:hover{
    
    
    background-color: black;
    color: gold;
   
    
}





/* Big Nav Buttons */
nav{
    
    width: 100vw;
    height: 4.5vw;
    
   overflow: visible;
    position: absolute;
    top: 0px;
    z-index: 2;
    
    margin: 0;
    padding: 0;
    
    visibility: visible;
    
    
    transition: 0.5s;
    
    
}
nav #bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #4f4f4f;
    opacity: 0.3;
    
    
    
    left: 0px;
    bottom: 0px;
    z-index: -1;
    
    
    
    
}
nav .bigmenu button#bigshop{
    position: relative;
    width: 15vw;
    height: 6vw;
    margin-right: 11.25vw;
    color: gold;
    font-size: 50px;
}
nav .bigmenu button#bigshop:hover{
   
    
    font-size: 60px;
}
nav .bigmenu button#bigshop #bbg{
    position: absolute;
    bottom: 0px;
    left: 0px;    
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #4f4f4f;
    
   z-index: -1;
}
nav .bigmenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    
}
nav .bigmenu .navbutt{
    position: relative;
    width:10vw;
    height: 2.65vw;
    margin-right: 8.75vw;
    text-align: center;
    top: 0.6vw;
    color: black;
    font-family: roboto-bold;
    font-size: 30px;
    border: none;
    overflow: visible;
    
    
}
nav .bigmenu .navbutt.rightb{
    margin-right: 0;
    
    
}
nav .bigmenu .navbutt.leftb{
    margin-left: 4vw;
}
nav .bigmenu .navbutt p{
    position: absolute;
    top: 5px;
    margin: 0;
    width: 100%;
    color: white;
}
nav .bigmenu button.navbutt:hover{
    background-color: transparent;
    color: gold;
}
nav .bigmenu .navbutt div.left,nav .bigmenu .navbutt div.right,nav .bigmenu .navbutt div.up,nav .bigmenu .navbutt div.down{
    position: absolute;
    background-color: black;
}

/*Left side buttons*/
nav .bigmenu .navbutt.lefts div.left{
    width: 5px;
    height: 2.65vw;
    
    left: 0vw;
    top: 0;
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts div.right{
    width: 5px;
    height: 50px;
    
    right: 10px;
    top: 0;
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts div.up{
    width:  6vw;
    height: 5px;
   
    top: 0;
    left: 0.5vw;
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts div.down{
    width:  6vw;
    height: 5px;
   
    bottom:0;
    left:-0.2vw;
 
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts p{
    left: -1.5vw;
    top: 10%;
}

/*Right side buttons*/
nav .bigmenu .navbutt.rights div.left{
    width: 5px;
    height: 2.65vw;
    
    left: 10px;
    top: 0;
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights div.right{
    width: 5px;
    height: 2.65vw;

    right: 10px;
    top: 0;  
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights div.up{
    width:  6vw;
    height: 5px;
   
    top: 0;
    right: 01.5vw;
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights div.down{
    width:  6vw;
    height: 5px;
   
    bottom: 0;
    right: 7px;
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights p{
    right: -1vw;
    top: 10%;
}

/*Gold*/
nav .bigmenu .navbutt div.gold{
    background-color: gold;
      transition: 1s;
    z-index: 22;
}
nav .bigmenu .navbutt div.gold.up{
    width: 0px;
    
    
  
    
  
  
    
    
    
}
nav .bigmenu .navbutt div.gold.down{
    width:  0px;
    
  
   
   
   
    
    
}

/*Hover*/
nav .bigmenu .navbutt:hover div.gold.up{
    width: 6vw;
    
    
  
    
  
    
    
    
}
nav .bigmenu .navbutt:hover div.gold.down{
    width:  6vw;
    
  
    
   
   
    
    
}

/*SMALLLNAV*/

nav .menu{
     
    
    position: absolute;
    top: 12vw;
    width: 120px;
    height: 500px;
    
    transition: 1s;
    
    left: -120px;
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
nav .menu button{
    
    background-repeat: no-repeat;
    border: 2px solid gold;
    
    width: 80px;
    height: 80px;
    font-size: 50px;
    margin: 20px;
    
    
    
}

button.profileic{
    width: 5vw;
    height: 5vw;
    background-image: url(Profile.png);
    border: gold 5px solid;
    background-size: contain;
    padding: 20px;
    position: absolute;
    
    z-index: 2;
    right: 5vw;
    top: -10vw;
    
    transition: 0.5s;
    
}
button.profileic:hover{
    background-image: url(Profilegold2.png);
    background-color: transparent;
    border-color: black;
    
}
nav .menu button #bg{
    border-radius: 10px;
    
}

/*Small nav buttons*/
nav.down{
    top: -6vw;
    
    
    
}
button.profileic.ot{
    top: 0vw;
}
nav.down .menu button.shopsmall{
    
    background-image: url(../Bilder/Nav/shopping%20cart.png);
    background-size: contain;
    
    
    
}
nav.down .menu button.shopsmall:hover{
    
    background-image: url(../Bilder/Nav/Shopping%20cart%20white.png);
    
}
nav .menu button.Home{
    background-image: url(../Bilder/Nav/House%20Black2.png);
    background-size: contain;
    
}
nav .menu button.Home:hover{
    background-image: url(../Bilder/Nav/House%20White2.png);
    background-size: contain;
    
}

nav.down .menu #menubg{
    
    
    width: 100%;
    height: 100%;
    background-color: #4f4f4f;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    
    
    
    
    
}


/*When menubutt is pressed*/
nav.down.on .menu{
  
    transition: 1s;
    left: 0px;
    
    
    
}

/*Menu button*/
.menubutton{
    width: 180px;
    height: 60px;
    z-index: 21;
    position: absolute;
    top: -200px;
    cursor: pointer;
    transition: 1s;
}
.menubutton h3{
    color: white;
}
.menubutton.out{
    top: 20px;
}
.menubutton .left,.menubutton .up, .menubutton .right,.menubutton  .down{
    
    position: absolute;
    background-color: gold;
    z-index: 20;
    
    transition: 1s;
}
.menubutton .black{
    background-color: black;
}
.menubutton .gold{
    z-index: 22;
}
.menubutton .up{
    width:  140px;
    height: 5px;
   
    left: 30px;
    transform: skewX(-20deg);
}
.menubutton .left{
    width: 5px;
    height: 50px;

    left: 22px;    
    transform: skewX(-20deg);
}
.menubutton .right{
    width: 5px;
    height: 50px;
    
    left: 22px;
    transform: skewX(-20deg);
}
.menubutton .down{
    width: 140px;
    height: 5px;
    
    top: 50px;
    left: 12px;
    transform: skewX(-25deg);
}
.menubutton .up.gold{
    width:0;
}
.menubutton .down.gold{
    width:0;
}


/* When hovering the menu button*/
.menubutton:hover .down.gold{
    width: 142px;
    
}
.menubutton:hover .up.gold{
    width: 140px;
   
}
.menubutton:hover .right.gold, .menubutton:hover .left.gold{
    height: 50px;
   
}
.menubutton h3{
    position: absolute;
    left: 50px;
    top: -20px;
    font-size: 30px;
    font-family: roboto-bold;
    transition: 0.5s;
}
.menubutton:hover h3{
    color: gold;
}

/*When button clicked*/
.menubutton.on .down.gold{
    width: 0px;
    
}
.menubutton.on .up.gold{
    width: 140px;
   
}
.menubutton.on .left.gold{
    height: 50px;
   
}
.menubutton.on .left{
    width: 138px;
}
.menubutton.on .right{
    left: 160px;
}
.menubutton.on h3{
    color: black;
    z-index: 25;
}

/*When ou adn back*/

.menubutton.on:hover .down.gold{
    width: 0px;
    
}
.menubutton.on:hover .up.gold{
    width: 0px;
   
}
.menubutton.on:hover .right.gold{
    height: 0px;
   
}



/* Small nav out */
.out2{
    width: 200px;
    height: 5vw;
    
    
    position: absolute;
    transition: 0.5s;
    left: -200px;
    
  
    
    z-index: -2;
    
}
.out2#homeout{
    top: calc(100%*(0/4));
}
.out2#shopout{
    top: calc(100%*(1/4));
}
.out2#lagerout{
    top: calc(100%*(2/4));
}
.out2#profileout{
    top: calc(100%*(3/4));
}
.out2 p{
    position: absolute;
    top: -40px;
    width: 100%;
    height: 100%;
    
    text-align: center:
    
    
}

.menu .Home:hover .out2#homeout{
    top: calc(100%*(0/4));
    left: 100%;
  
    
}
.menu .shopsmall:hover .out2#shopout{
    top: calc(100%*(1/4));
    left: 100%;
  
    
}
.menu .lager:hover .out2#lagerout{
    top: calc(100%*(2/4));
   left: 100%;
  
    
}
.menu .profile:hover .out2#profileout{
    top: calc(100%*(3/4));
    left: 100%;
  
    
}

/* MAIN WINDOW */
.content{
   
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100vh;    
    max-width: 100%;
    min-width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    
    
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    

    perspective: 1px;
    transform-style: preserve-3d;
    font-family: roboto-reg;
    overflow-x: hidden;
    background-color: black;
    
}

/* Main Window Parallax effekt */
content, content:before{
    background: 50% 50% / cover;
}
.content::before{
    
   
    
    display: block;
    
    min-height: 100vh;
    max-width: 100vw;
    z-index: -1;
   
    content: "";
    
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    
    
    
    background-image: url(../Bilder/Parallax/Bakbild2.png);
    background-size: cover;
    
    
    transform-origin: center center 0;
    transform: translateZ(-4px) scale(5.2);
    
    overflow-x: hidden;
    
}    



/*HEADER*/
header{
     width: 90vw;
    height: 45vw;
    
    border-radius: 20px;

    background-image: url(../Bilder/Header/Headerpic.jpg);
    background-size: cover;
    position:absolute;

    top:6vw;
    left: 5vw;
}
     
/*title*/
header h1{
    
    color: gold;
    
    font-family: roboto-reg;
    z-index: 2;
    
    margin: 0;
}
header #title{
    
    position: absolute;
    width: 420px;
    height: 200px;
    left: 21vw;
    top: 10vw;
    transition: 0.5s;
}
header #title div#h1bg{
    
    position: absolute;
    z-index: 1;
    
    width: 100%;
    height: 100%;
    
    background-color: lightgrey;
    opacity: 0.7;
}
header #title h1#prot{
    
    position: absolute;
 
    left: 30px;
    font-size: 80px;
    
    color: gold;
    
}
header #title h1#prot:before{
    color: black;
    content: "Pro";
}
header #title h1#fix{
  
    position: absolute;
    left:0px;
    font-size: 70px;
    top: 100px;
    left: 150px;
    
}

/* Shop button i header */
button#shop{
    color: floralwhite;
    position: absolute;
    right: 200px;
    bottom: 100px;
    color: gold;
    border-color: gold;
    font-size: 30px;
}
button#shop:hover{
       
     border-color: gold;
    font-size: 40px;
}

/*erbjudande vis dian av header*/
header #erb{
    width: 30vw;
    height: 45vw;
    
    transition: 0.5s;
    position: absolute;
    
    top: 0px;
    z-index: 1;
    
    
}
header #erb #secbg{
    
    
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.90;
    filter: blur(5px);
    z-index: 0;
    position: absolute;
    
}
header #erb div#bild{
    background-image: url(../Bilder/Header/Protein.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 10vw;
    height:10vw;
    
    left: 15vw;
    top: 24vw;
    
    z-index: 20;
    
    
}
header #erb h3#erbTitle{
    top: 29vw;
    z-index: 10;
    width: 350px;
    height: 50px;
    font-family: roboto-reg;
    position:absolute;
    text-align: center;
    font-size: 30px
}
header #erb h3#erbUnder{
    top: 28vw;
    z-index: 10;
    width: 350px;
    height: 50px;
    font-family: roboto-reg;
    font-size: 15px;
    position:absolute;
    text-align: center;
    
    color: gold;
    
}
header #erb #erbPrice{
    top: 29vw;
    z-index: 10;
    width: 250px;
    height: 100px;
    font-family: roboto-reg;
    font-size: 80px;
    position:absolute;
    text-align: center; 
    color: gold;
    
    
}
header #erb button#show{
    
    width: 10vw;
    height: 5vw;
    
    position: absolute;
    top: 35vw;
    left: 240px;
    
    font-size: 30px;
    
     border: none;
    box-sizing: border-box;
    
    border: 2px black solid; 
   
    font-family: roboto-bold;
    font-size-adjust: auto;
    
    
    
}

/*SECTIONS*/

/* Section Offer */
section.off button{
    
    font-size: 40px;
    color: gold;
    text-align: center;
    
}
.off{
    
    width: 90vw;
    margin-top: 1vw;
    left: 5vw;
    height: 400px;
    
    position: absolute;
    
    
    
    background-color: red;
    border-radius: 10px;
    
    background-image: url(../Bilder/Section/bak.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#off{
    top: 90vw;
}
.off #offbild{
    height: 80%;
    width: 20%;
    top: 60px;
    position: absolute;
    
    background-image: url(../Bilder/Section/Gainer.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.off #offbutt{
    position: absolute;
    right: 10%;
    top: 40%;
}
.off #offbg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    border-radius: 10px;
    
}
.off #offtitle{
    position: absolute;
    
    top: 40px;
    left: 300px;
    font-size: 40px;
    
    font-family: roboto-bold;    
}
.off #offunder{
    position: absolute;
    font-size: 70px;
    
    left: 300px;
    top: 100px;
    border: Gold 2px solid; 
}
.off #offunder::after{
    content: "Sale";
    color: gold;
}
#off p::before{
    color: white;
    content: "Kolla in vårat superbra erbjudande från Leagion";
}
#off p{
    position: absolute;
    width: 200px;
    height: 220px;
    text-align: center;
    border-radius: 10px;
    
    font-family: roboto-bold;
    font-size: 30px;
    left: 650px;
    top: 60px;
    
    color: gold;
    background-color: rgba(0,0,0,0.6);
    content: "40%";
    border: gold 2px solid;
    
    
}

/* Section offer number 2*/
#off2{
    
    
    
    top: 60vw;
   
   
}
#off2 #offbild{
    height: 100%;
    width: 400px;
    left: 60px;
    top: 100px;
    background-image: url(../Bilder/Section/Powders.png);
}
#off2 #offtitle{
    left: 500px;
    top: 20px;
    color: gold;
    font-size: 60px;
}
#off2 p{
    position: absolute;
    width: 350px;
    font-family: roboto-bold;
    left: 500px;
    top: 140px;
    font-size: 20px;
    color:white;
}
#off2 p:after{
    color: gold;
    content: " Gratis!"
        
}
#off2 div#pbg{
    width: 450px;
    height: 260px;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    left: 450px;
    top: 50px;
    border-radius: 10px;
    
    border:gold 2px solid;
    
}

section#items{
    width: 90vw;
    left: 5vw;
    height: 1100px;
   
    
    position: relative;
    top: 115vw;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
}
section#items div.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: grey;
    opacity: 0.7;
    z-index: 0;
    border-radius: 10px;
    
}
section#items div.item{
    width: 28%;
    margin-left: 4%;
    margin-top: 1%;
    height: 45%;
    position: relative;
    background-image: url(Bakbild3.png);
    background-size: cover;
    border-radius: 10px;
    
    border: solid black 1px;
   
}

section#items div.item div#itembild{
    width: 60%;
    top: 0px;
    height: 250px;
    
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 20%;
    
}

section#items div#item1 div#itembild{
    
    background-image: url(../Bilder/Items/CASEIN.png);
}
section#items div#item2 div#itembild{
    background-image: url(../Bilder/Items/100%25%20Whey.png);
}
section#items div#item3 div#itembild{
    background-image: url(../Bilder/Items/Protein.png);
}
section#items div#item4 div#itembild{
    background-image: url(../Bilder/Items/Bcaa.png);
}
section#items div#item5 div#itembild{
     background-image: url(../Bilder/Items/AEE.png);   
}
section#items div#item6 div#itembild{
    background-image: url(../Bilder/Items/PWO.png);
}


section#items div.item h2{
    position: relative;
    font-size: 30px;
    font-family: roboto-bold;
    color: white;
    width: 100%;
    text-align: center;
}
section#items div.item h3{
    position: relative;
    width: 100%;
    top: -30px;
    font-size: 15px;
    text-align: center;
    color: lightgrey;
}
section#items div.item p{
    position: relative;
    width: 100%;
    text-align: center;
    top: -40px;
    font-size: 20px;
    font-family: roboto-bold;
}
section#items div.item button{
    position: relative;
    left: 30%;
    width: 40%;
    
    bottom: 50px;
    border-color: gold;
    font-size: 40px;
    
}
section#items div.item button p#norm{
    position: absolute;
    font-size: 40px;
    top: -20px;
    transition: 0s;
    color: gold;
    width: 100%;
    height: 100%;
    
}
section#items div.item button:hover p#norm{
    opacity: 0;
    
}


section#items div.item button p#norm::after{
    content: ":-";
    
}

section#items div.item button p#hov{
    position: absolute;
    font-size: 40px;
    top: -20px;
    left: 0;
    text-align: center;
    transition: 0s;
    color: gold;
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
    
}

section#items div.item button:hover p#hov{
    
    opacity: 1;
}



/* FOOTER */
footer{
    height: 458px;
    
    width: 100%;
    box-sizing: border-box;
    
    position: absolute;
    top: 180vw;
    
    border: transparent solid 5px;
    transition: 1s;
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
}
footer button.butt{
    height: calc(100% * (1/2) - 20px);
    width: calc(100% * (1/3) - 20px);
    margin: 10px;
}
footer.add button{
    color:gold;
    border-color: gold;
    font-size: 40px;
}
footer button:hover{
    color: black;
    background-color: gold;
    content:"Kontakt us";
}
footer.add{
    border-color: gold;
}
footer .logo{
    width: 400px;
    height: 200px;
    position: relative;
    background-color: beige;
    left:37%;
}


/*MEDIA QUARIES*/

/*Nav*/
@media only screen and (max-width: 1600px) {
    
}
@media only screen and (max-width: 1400px) {
  
    nav .bigmenu .navbutt{
        font-size: 20px;
        
        
    }
    
    .arrow p{    
        font-size: 90px;
        text-align: center;
        
    }
    
    nav .bigmenu #bigshop{
        font-size: 40px;
    }
     nav .bigmenu #bigshop:hover{
        font-size: 50px;
    }
   nav .bigmenu .navbutt.rights p{
    right: -0vw;
    top: 10%;
}
    
    
    
}
@media only screen and (max-width: 1000px) {
    nav .bigmenu .navbutt{
        font-size: 15px; 
    }
    nav .bigmenu #bigshop{
        font-size: 40px; 
    }
    nav div.menu{
        width: 100%;
        height: 1000px;
        top: 140px;
        left: -360px;
        flex-flow: column;  
        
        background-color: rgba();
    }
    nav.down .menu button{
    font-size: 50px;
    position: relative;
    width: 80%;
    height: 200px;
    left: 10%;
    
    }
    nav.down .menu{
        left: -100%;
    }
    nav.down .menu button #bg{
        border: 1px gold solid;
        display: block; 
        opacity: 0.8;
        width: 100%;
       
    }
   
    nav.down .menu button div.out2{
        
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        
        text-align: center;
        
    }
    
     nav.down .menu button div.out2 p{
        
        z-index: 2;
        width: 100%;
         top: 0;
        text-align: center;
        font-size: 80px;
         
         margin: 0;
         padding: 0;
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
    }
    
    nav.down .menu button div.out2#homeout{
        top: 40px;
        
    }
    nav.down .menu button div.out2#lagerout{
        top: 50px;
        
    }
    nav.down .menu button div.out2#profileout{
        top: 50px;
        
    }
    .menu .shopsmall .out2{
        top: 0;
        left: 0;
    }
    .menu .Home:hover .out2#homeout{
       left: 0;
        top: 30px;
    }
    .menu .shopsmall:hover .out2#shopout{
       
        left: 0;
        top: 20px;


    }
    .menu .lager:hover .out2#lagerout{
        
       left: 0;
        top: 40px;


    }
    .menu .profile:hover .out2#profileout{
       
        left: 0;
        top: 40px;


    }
}
@media only screen and (max-width: 800px) {
    nav .bigmenu .navbutt{
        font-size: 10px;
        
        
    }
    nav .bigmenu #bigshop{
        font-size: 30px;
        
    }
    
    
    
}
@media only screen and (max-width: 600px) {
    nav .bigmenu .navbutt{
        font-size: 5px;
        
        
    }
    nav .bigmenu #bigshop{
        font-size: 20px;
        
    }
    
    
}
@media only screen and (max-height: 500px) {
    nav.dowm{
        position: absolute;
        
    }
    nav.down div.menu{
        
       position: absolute;
        height: 380px;
        width: 650px;
        z-index: 52;
        
        left: auto;
        right: 100px;
        top: -400px;
        margin: 0;
        padding: 0;
        
    }
   
    nav div.menu button{
        width: 80vw;
    }
    nav.down.on div.menu{
        left: auto;
        right: 100px;
        top: 100px;
    }
    nav.down.on .menu button div.out2 p{
        top: -15px;
    }
    
}

/*Set new nav for mobile screens*/

/*Header*/
@media only screen and (max-width: 1400px){
    header section#erb #bild{
        left: 20%;
        top: 39%;
    }
   
    header section#erb h3#erbUnder{
        width: 240px;
    }
    header section#erb h3#erbTitle{
        width: 240px;
        left: 0;
        
        
    }
    header section#erb h3#erbPrice{
        font-size: 50px;
        left: 43%;
        top: 56%;
    }
    
     header section#erb button#show{
    
        width: 200px;
        height: 80px;
        left: 20%;
         font-size: 40px;
         top: 82%;
    }
    
    header button#shop{
        left: 70%;
        
    }
    
    
    
}
@media only screen and (max-width: 1000px) {
    header{
        height: 960px;;
        
        
    }
    header #title{
        left: 10vw;
    }
    header #secbg{
        border-radius: 20px;
    }
    header #erb{
        
        top: 580px;
        
        width: 100%;
        height: 39%;
        

        
        
    }
    
    
    header section#erb div#bild{
        width: 200px;
        height: 200px;
        left: 30px;
        top: 100px;
        
    }
    header section#erb h3#erbUnder{
        
        top: 10px;
        left: 40vw;
        font-size: 30px;
    }
    header section#erb h3#erbPrice{
        top: 0vw;
        font-size: 80px;
    }
    
    header section#erb h3#erbTitle{
        top: 180px;
        left: 40vw;;
        
    }
    header section#erb button#show{
        
        top: 270px;
        left: 43vw;
    }
    header button#shop{
        top: 400px;
        left: 30vw;
    }
    
    
    
}
@media only screen and (max-width: 700px) {
    header #title{
        
        left: 5%;
    }
    
    
    
    
}

/*Section*/
@media only screen and (max-width: 1400px){
    
    .off{
    
    height: 300px;
    
    }
    
    .off h3#offunder{
        top: 24%;
    }
    
    
    #off p{
        top: 10%;
    }
    
    
    #off2 h3#offtitle{
        top: -2vw; 
        left: 445px;
    }
    #off2 div#pbg{
        top: 2vw;
        left: 390px;
    }
    #off2 p{
        left: 440px;
        top:100px; 
    }
    
    #off2 div#offbild{
        top: 10px;
        left: 1px;
    }
    
    
    .off button#offbutt{
        right: 15px;
        transition: 1s;
    }
    
}
@media only screen and (max-width: 1300px){
    
    .off #offbild{
        width: 240px;
        height: 300px;
        top: 20px;
    }
    
    .off button#offbutt{
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0;
        
    }
    
    
    #off2 div#pbg{
        left: 500px;
        
    }
    
    #off2 h3#offtitle{
        left: 545px;
    }
    
    #off2 p{
        left: 540px;
    }
    
    
    #off p{
        top: 10px;
    }
    
    
    
}

@media only screen and (max-width: 1200px){
    
    #off2 div#pbg{
        left: 450px;
        
    }
    
    #off2 h3#offtitle{
        left: 495px;
    }
    
    #off2 p{
        left: 490px;
    }
    
    
    
    
    
}





/*ITEMS*/

@media only screen and (max-width: 1600px){
    
    section#items{
        top: 130vw;
    }
    
}
@media only screen and (max-width: 1400px){
    
    
    section#items{
        height: 800px;
    }
    /*Text*/
    section#items div.item h2{
        font-size: 23px;
        top: -15px;
    }
    
    section#items div.item h3{
        font-size: 15px;
    }
    
    section#items div.item p{
        font-size: 15px;
    }
    
    /*Button*/
    section#items div.item button{
        width: 50%;;
        height: 20%;
        left: 25%;
    }
    section#items div.item button p#norm{
        
        top: -30px;
    }
    section#items div.item button p#hov{
        top: -30px;
    }
    
    
    
    
    section#items div.item div#itembild{
        
        height: 200px;
    }
    
}



/*Footer*/ 


@media only screen and (max-width: 1600px){
    
    footer{
        top: 220vw;
    }
    
}

@media only screen and (max-width: 1000px) {
   
    
    
}



}

@media only screen and (max-width: 600px) {
    
    header{
        left: 0;
        width: 100vw;
    }
    header div#title{
        left: 5px;
    }
    section#off{
        left: 100px;
        width: 100vw;
    }
    
    
}


@media only screen and (max-width: 1000px) {
    
    
    #off2{
        top:1200px;
        height: 600px;
    }
    
    #off2 div#offbild{
        width: 60%;
        left: 20%;
       position: absolute;
    }
    
    #off2 div#pbg{
        position: absolute;
        left: 10%;
        width: 80%;
        height: 50%;
        top: 45%
    }
    
    #off2 h3#offtitle{
        text-align: center;
        left: 10%;
        
        width: 80%;
        height: 50%;
        top: 38%
    }
    #off2 p{
        left: 15%;
        width: 70%;
        height: 50%;
        top: 60%;
        font-size: 30px;
    }
    
    
    #off{
        top: 2000px;
        
        height: 700px;
    }
    #off div#offbild{
        height: 100%;
        width: 50%;
        left: 25%
        
    }
    #off h3#offtitle{
        top: 50%;
        width: 40%;
        left: 30%;
        text-align: center;
    }
    #off h3#offunder{
        top: 55%;
        width: 40%;
        left: 30%;
        text-align: center;
    }
    #off p{
        top:78%;
        height: 15%;
        width: 70%;
        left: 15%;
        text-align: center;
    }
    
    section#items{
        top: 3000px;
        height: 1000px;
        width: 80%;
        left: 12%;
        flex-flow: column;
        overflow-y: scroll;
        overflow-x: hidden;
        
    }
    section#items div.item{
        height: 800px;
        width: 90%;
        margin: none;
        padding: none;
        
    }
    section#items div.item div#itembild{
        width: 60%;
        height: 100%;
        left: 20%;
    
        
    
    
    
    }    
    section#items div.item h2{
        
        
        position: absolute;
    
        top: 50%;
        font-size: 40px;
    
    
    
    } 
    
    section#items div.item h3{
        
        
        position: absolute;
    
        top: 55%;
        font-size: 35px;
    
    
    
    } 
    section#items div.item p{
        
        
        position: absolute;
    
        top: 60%;
        
        font-size: 30px;
    
    
    } 
    section#items div.item button{
        
        
        position: absolute;
    
        top: 70%;
        
    
        font-size: 50px;
    
    } 
    
    section#items div.item button p#norm{
        font-size: 60px;
        top: -20px;
        position: absolute;
    } 
    section#items div.item button p#hov{
        font-size: 60px;
        width: 100%;
        height: 100%;
        left: 0;
        top: -20px;
    
    } 
    footer{
        top: 4400px;
    }
    
}







