html{
    
    margin: 0;
    padding: 0;
    overflow: hidden;    
    
    max-width: 100vw;
    
    margin: 0;
    padding: 0;
}
#content{
    width: 100vw;
    height: 100vh;
    
    max-width: 100vw;
    
    
    
}
@font-face{
    font-family: roboto-reg;
    src: url(../Fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: roboto-med;
    src: url(../Fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: roboto-bold;
    src: url(../Fonts/Roboto-Bold.ttf);
}
@font-face{
    font-family: roboto-black;
    src: url(../Fonts/Roboto-Black.ttf);
}

body{
    top: 0px;
    margin: 0;
    
    
}

/*NAVIGATION*/
/*General*/
button{
        width: 200px;
    height: 100px;
    box-sizing: border-box;
    
    border: 4px black solid; 
    background-color: transparent;
    font-family: roboto-bold;
  
    
    transition-duration: 0.2s;
    
    cursor: pointer;
}
button:hover{
    
    
    background-color: black;
    color: gold;
   
    
}





/* Big Nav Buttons */
nav{
    
    width: 100vw;
    height: 4.5vw;
    
   overflow: visible;
    position: absolute;
    top: 0px;
    z-index: 2;
    
    margin: 0;
    padding: 0;
    
    visibility: visible;
    
    
    transition: 0.5s;
    
    
}
nav #bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #4f4f4f;
    opacity: 0.3;
    
    
    
    left: 0px;
    bottom: 0px;
    z-index: -1;
    
    
    
    
}
nav .bigmenu button#bigshop{
    position: relative;
    width: 15vw;
    height: 6vw;
    margin-right: 11.25vw;
    color: gold;
    font-size: 50px;
}
nav .bigmenu button#bigshop:hover{
   
    
    font-size: 60px;
}
nav .bigmenu button#bigshop #bbg{
    position: absolute;
    bottom: 0px;
    left: 0px;    
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #4f4f4f;
    
   z-index: -1;
}
nav .bigmenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    
}
nav .bigmenu .navbutt{
    position: relative;
    width:10vw;
    height: 2.65vw;
    margin-right: 8.75vw;
    text-align: center;
    top: 0.6vw;
    color: black;
    font-family: roboto-bold;
    font-size: 30px;
    border: none;
    overflow: visible;
    
    
}
nav .bigmenu .navbutt.rightb{
    margin-right: 0;
    
    
}
nav .bigmenu .navbutt.leftb{
    margin-left: 4vw;
}
nav .bigmenu .navbutt p{
    position: absolute;
    top: 5px;
    margin: 0;
    width: 100%;
    color: white;
}
nav .bigmenu button.navbutt:hover{
    background-color: transparent;
    color: gold;
}
nav .bigmenu .navbutt div.left,nav .bigmenu .navbutt div.right,nav .bigmenu .navbutt div.up,nav .bigmenu .navbutt div.down{
    position: absolute;
    background-color: black;
}

/*Left side buttons*/
nav .bigmenu .navbutt.lefts div.left{
    width: 5px;
    height: 2.65vw;
    
    left: 0vw;
    top: 0;
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts div.right{
    width: 5px;
    height: 50px;
    
    right: 10px;
    top: 0;
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts div.up{
    width:  6vw;
    height: 5px;
   
    top: 0;
    left: 0.5vw;
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts div.down{
    width:  6vw;
    height: 5px;
   
    bottom:0;
    left:-0.2vw;
 
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts p{
    left: -1.5vw;
    top: 10%;
}

/*Right side buttons*/
nav .bigmenu .navbutt.rights div.left{
    width: 5px;
    height: 2.65vw;
    
    left: 10px;
    top: 0;
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights div.right{
    width: 5px;
    height: 2.65vw;

    right: 10px;
    top: 0;  
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights div.up{
    width:  6vw;
    height: 5px;
   
    top: 0;
    right: 01.5vw;
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights div.down{
    width:  6vw;
    height: 5px;
   
    bottom: 0;
    right: 7px;
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights p{
    right: -1vw;
    top: 10%;
}

/*Gold*/
nav .bigmenu .navbutt div.gold{
    background-color: gold;
      transition: 1s;
    z-index: 22;
}
nav .bigmenu .navbutt div.gold.up{
    width: 0px;
    
    
  
    
  
  
    
    
    
}
nav .bigmenu .navbutt div.gold.down{
    width:  0px;
    
  
   
   
   
    
    
}

/*Hover*/
nav .bigmenu .navbutt:hover div.gold.up{
    width: 6vw;
    
    
  
    
  
    
    
    
}
nav .bigmenu .navbutt:hover div.gold.down{
    width:  6vw;
    
  
    
   
   
    
    
}

/*SMALLLNAV*/

nav .menu{
     
    
    position: absolute;
    top: 12vw;
    width: 120px;
    height: 500px;
    
    transition: 1s;
    
    left: -120px;
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
nav .menu button{
    
    background-repeat: no-repeat;
    border: 2px solid gold;
    
    width: 80px;
    height: 80px;
    font-size: 50px;
    margin: 20px;
    
    
    
}

button.profileic{
    width: 5vw;
    height: 5vw;
    background-image: url(Profile.png);
    border: gold 5px solid;
    background-size: contain;
    padding: 20px;
    position: absolute;
    
    z-index: 2;
    right: 5vw;
    top: -10vw;
    
    transition: 0.5s;
    
}
button.profileic:hover{
    background-image: url(Profilegold2.png);
    background-color: transparent;
    border-color: black;
    
}
nav .menu button #bg{
    border-radius: 10px;
    
}

/*Small nav buttons*/
nav.down{
    top: -6vw;
    
    
    
}
button.profileic.ot{
    top: 0vw;
}
nav.down .menu button.shopsmall{
    
    background-image: url(../Bilder/Nav/shopping%20cart.png);
    background-size: contain;
    
    
    
}
nav.down .menu button.shopsmall:hover{
    
    background-image: url(../Bilder/Nav/Shopping%20cart%20white.png);
    
}
nav .menu button.Home{
    background-image: url(../Bilder/Nav/House%20Black2.png);
    background-size: contain;
    
}
nav .menu button.Home:hover{
    background-image: url(../Bilder/Nav/House%20White2.png);
    background-size: contain;
    
}

nav.down .menu #menubg{
    
    
    width: 100%;
    height: 100%;
    background-color: #4f4f4f;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    
    
    
    
    
}


/*When menubutt is pressed*/
nav.down.on .menu{
  
    transition: 1s;
    left: 0px;
    
    
    
}

/*Menu button*/
.menubutton{
    width: 180px;
    height: 60px;
    z-index: 21;
    position: absolute;
    top: -200px;
    cursor: pointer;
    transition: 1s;
}
.menubutton h3{
    color: white;
}
.menubutton.out{
    top: 20px;
}
.menubutton .left,.menubutton .up, .menubutton .right,.menubutton  .down{
    
    position: absolute;
    background-color: gold;
    z-index: 20;
    
    transition: 1s;
}
.menubutton .black{
    background-color: black;
}
.menubutton .gold{
    z-index: 22;
}
.menubutton .up{
    width:  140px;
    height: 5px;
   
    left: 30px;
    transform: skewX(-20deg);
}
.menubutton .left{
    width: 5px;
    height: 50px;

    left: 22px;    
    transform: skewX(-20deg);
}
.menubutton .right{
    width: 5px;
    height: 50px;
    
    left: 22px;
    transform: skewX(-20deg);
}
.menubutton .down{
    width: 140px;
    height: 5px;
    
    top: 50px;
    left: 12px;
    transform: skewX(-25deg);
}
.menubutton .up.gold{
    width:0;
}
.menubutton .down.gold{
    width:0;
}


/* When hovering the menu button*/
.menubutton:hover .down.gold{
    width: 142px;
    
}
.menubutton:hover .up.gold{
    width: 140px;
   
}
.menubutton:hover .right.gold, .menubutton:hover .left.gold{
    height: 50px;
   
}
.menubutton h3{
    position: absolute;
    left: 50px;
    top: -20px;
    font-size: 30px;
    font-family: roboto-bold;
    transition: 0.5s;
}
.menubutton:hover h3{
    color: gold;
}

/*When button clicked*/
.menubutton.on .down.gold{
    width: 0px;
    
}
.menubutton.on .up.gold{
    width: 140px;
   
}
.menubutton.on .left.gold{
    height: 50px;
   
}
.menubutton.on .left{
    width: 138px;
}
.menubutton.on .right{
    left: 160px;
}
.menubutton.on h3{
    color: black;
    z-index: 25;
}

/*When ou adn back*/

.menubutton.on:hover .down.gold{
    width: 0px;
    
}
.menubutton.on:hover .up.gold{
    width: 0px;
   
}
.menubutton.on:hover .right.gold{
    height: 0px;
   
}



/* Small nav out */
.out2{
    width: 200px;
    height: 5vw;
    
    
    position: absolute;
    transition: 0.5s;
    left: -200px;
    
  
    
    z-index: -2;
    
}
.out2#homeout{
    top: calc(100%*(0/4));
}
.out2#shopout{
    top: calc(100%*(1/4));
}
.out2#lagerout{
    top: calc(100%*(2/4));
}
.out2#profileout{
    top: calc(100%*(3/4));
}
.out2 p{
    position: absolute;
    top: -40px;
    width: 100%;
    height: 100%;
    
    text-align: center:
    
    
}

.menu .Home:hover .out2#homeout{
    top: calc(100%*(0/4));
    left: 100%;
  
    
}
.menu .shopsmall:hover .out2#shopout{
    top: calc(100%*(1/4));
    left: 100%;
  
    
}
.menu .lager:hover .out2#lagerout{
    top: calc(100%*(2/4));
   left: 100%;
  
    
}
.menu .profile:hover .out2#profileout{
    top: calc(100%*(3/4));
    left: 100%;
  
    
}

/* MAIN WINDOW */
.content{
   
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100vh;    
    max-width: 100%;
    min-width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    
    
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    

    perspective: 1px;
    transform-style: preserve-3d;
    font-family: roboto-reg;
    overflow-x: hidden;
    background-color: black;
    
}

/* Main Window Parallax effekt */
content, content:before{
    background: 50% 50% / cover;
}
.content::before{
    
   
    
    display: block;
    
    min-height: 100vh;
    max-width: 100vw;
    z-index: -1;
   
    content: "";
    
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    
    
    
    background-image: url(../Bilder/Parallax/Bakbild2.png);
    background-size: cover;
    
    
    transform-origin: center center 0;
    transform: translateZ(-4px) scale(5.2);
    
    overflow-x: hidden;
    
}    


/*MEDIA QUARIES*/

/*Nav*/
@media only screen and (max-width: 1600px) {
    
}
@media only screen and (max-width: 1400px) {
  
    nav .bigmenu .navbutt{
        font-size: 20px;
        
        
    }
    
    .arrow p{    
        font-size: 90px;
        text-align: center;
        
    }
    
    nav .bigmenu #bigshop{
        font-size: 40px;
    }
     nav .bigmenu #bigshop:hover{
        font-size: 50px;
    }
   nav .bigmenu .navbutt.rights p{
    right: -0vw;
    top: 10%;
}
    
    
    
}
@media only screen and (max-width: 1000px) {
    nav .bigmenu .navbutt{
        font-size: 15px; 
    }
    nav .bigmenu #bigshop{
        font-size: 40px; 
    }
    nav div.menu{
        width: 100%;
        height: 1000px;
        top: 140px;
        left: -360px;
        flex-flow: column;  
        
        background-color: rgba();
    }
    nav.down .menu button{
    font-size: 50px;
    position: relative;
    width: 80%;
    height: 200px;
    left: 10%;
    
    }
    nav.down .menu{
        left: -100%;
    }
    nav.down .menu button #bg{
        border: 1px gold solid;
        display: block; 
        opacity: 0.8;
        width: 100%;
       
    }
   
    nav.down .menu button div.out2{
        
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        
        text-align: center;
        
    }
    
     nav.down .menu button div.out2 p{
        
        z-index: 2;
        width: 100%;
         top: 0;
        text-align: center;
        font-size: 80px;
         
         margin: 0;
         padding: 0;
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
    }
    
    nav.down .menu button div.out2#homeout{
        top: 40px;
        
    }
    nav.down .menu button div.out2#lagerout{
        top: 50px;
        
    }
    nav.down .menu button div.out2#profileout{
        top: 50px;
        
    }
    .menu .shopsmall .out2{
        top: 0;
        left: 0;
    }
    .menu .Home:hover .out2#homeout{
       left: 0;
        top: 30px;
    }
    .menu .shopsmall:hover .out2#shopout{
       
        left: 0;
        top: 20px;


    }
    .menu .lager:hover .out2#lagerout{
        
       left: 0;
        top: 40px;


    }
    .menu .profile:hover .out2#profileout{
       
        left: 0;
        top: 40px;


    }
}
@media only screen and (max-width: 800px) {
    nav .bigmenu .navbutt{
        font-size: 10px;
        
        
    }
    nav .bigmenu #bigshop{
        font-size: 30px;
        
    }
    
    
    
}
@media only screen and (max-width: 600px) {
    nav .bigmenu .navbutt{
        font-size: 5px;
        
        
    }
    nav .bigmenu #bigshop{
        font-size: 20px;
        
    }
    
    
}
@media only screen and (max-height: 500px) {
    nav.dowm{
        position: absolute;
        
    }
    nav.down div.menu{
        
       position: absolute;
        height: 380px;
        width: 650px;
        z-index: 52;
        
        left: auto;
        right: 100px;
        top: -400px;
        margin: 0;
        padding: 0;
        
    }
   
    nav div.menu button{
        width: 80vw;
    }
    nav.down.on div.menu{
        left: auto;
        right: 100px;
        top: 100px;
    }
    nav.down.on .menu button div.out2 p{
        top: -15px;
    }
    
}








