html{
    
    margin: 0;
    padding: 0;
    overflow: hidden;    
    
    max-width: 100vw;
    
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: roboto-reg;
    src: url(/Fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: roboto-med;
    src: url(/Fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: roboto-bold;
    src: url(/Fonts/Roboto-Bold.ttf);
}
@font-face{
    font-family: roboto-black;
    src: url(/Fonts/Roboto-Black.ttf);
}

body{
    top: 0px;
    margin: 0;
    
    
}

/*NAVIGATION*/
/*General*/
button{
        width: 200px;
    height: 100px;
    box-sizing: border-box;
    
    border: 4px black solid; 
    background-color: transparent;
    font-family: roboto-bold;
  
    
    transition-duration: 0.2s;
    
    cursor: pointer;
}
button:hover{
    
    
    background-color: black;
    color: gold;
   
    
}
/*Big Nav*/
nav{
    
    width: 100vw;
    height: 4.5vw;
    
   overflow: visible;
    position: absolute;
    top: 0px;
    z-index: 2;
    
    margin: 0;
    padding: 0;
    
    visibility: visible;
    
    
    transition: 0.5s;
    
    
}
nav #bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #4f4f4f;
    opacity: 0.8;
    
    
    
    left: 0px;
    bottom: 0px;
    z-index: -1;
    
    
    
    
}
nav button#bigshop{
    position: relative;
    width: 15vw;
    height: 6vw;
    margin-right: 11.25vw;
    
    font-size: 50px;
}
nav button#bigshop:hover{
   
    
    font-size: 60px;
}
nav button#bigshop #bbg{
    position: absolute;
    bottom: 0px;
    left: 0px;    
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #4f4f4f;
    
   z-index: -1;
}


/*Small nav arrow button*/
button.arrow{
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    border: none;
    
    transition: 1s;
    z-index: 2;
    

    
    color: gold;
    
    
}
button.arrow .rec{
    width: 80%;
    height: 80%;
    
    border: 5px black solid;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10%;
    transition: 1.5s;
    font-size: 30px;
    
}
button.arrow:hover{
    color: black;
    background-color: transparent;
}
button.arrow:hover .rec{
   
    animation-name: spin;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    
}
@keyframes spin{
    
    0%{
        transform: rotate(180deg);
    }
    70%{
        
    }
    100%{
        border-radius: 100px;
    }
    
    
}

/*Smal Nav*/
nav .menu{
     
    
    position: absolute;
    top: 12vw;
    width: 120px;
    height: 500px;
    
    transition: 1s;
    
    left: -120px;
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
nav .menu button{
    
    background-repeat: no-repeat;
    border: 2px solid gold;
    
    width: 80px;
    height: 80px;
    font-size: 50px;
    margin: 20px;
    
    
    
}
nav .menu .Home{
    background-image: url(House%20Black2.png);
    background-size: contain;
    
}
nav .menu .Home:hover{
    background-image: url(House%20White2.png);
    background-size: contain;
    
}
button.profileic{
    width: 5vw;
    height: 5vw;
    background-image: url(Profile.png);
    border: gold 5px solid;
    background-size: contain;
    padding: 20px;
    position: absolute;
    
    z-index: 2;
    right: 5vw;
    top: -10vw;
    
    transition: 0.5s;
    
}
button.profileic:hover{
    background-image: url(Profilegold2.png);
    background-color: transparent;
    border-color: black;
    
}
nav .menu button #bg{
    display: none;
}

/* Big Nav Buttons */
nav .bigmenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    
}
nav .bigmenu .navbutt{
    position: relative;
    width: 10vw;
    height: 3vw;
    margin-right: 8.75vw;
    text-align: center;
    top: 0.6vw;
    color: black;
    font-family: roboto-bold;
    font-size: 30px;
    border: none;
    overflow: hidden;
    
    
}
nav .bigmenu .navbutt.rightb{
    margin-right: 0;
    
    
}
nav .bigmenu .navbutt.leftb{
    margin-left: 4vw;
}
nav .bigmenu .navbutt p{
    position: absolute;
    top: 5px;
    margin: 0;
    width: 100%;
}
nav .bigmenu button.navbutt:hover{
    background-color: transparent;
    color: gold;
}
nav .bigmenu .navbutt div.left,nav .bigmenu .navbutt div.right,nav .bigmenu .navbutt div.up,nav .bigmenu .navbutt div.down{
    position: absolute;
    background-color: black;
}

/*Left side buttons*/
nav .bigmenu .navbutt.lefts div.left{
    width: 5px;
    height: 50px;
    
    left: 10px;
    top: 0;
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts div.right{
    width: 5px;
    height: 50px;
    
    right: 10px;
    top: 0;
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts div.up{
    width:  130px;
    height: 5px;
   
    top: 0;
    left: 20px;
    transform: skewX(-20deg);
}
nav .bigmenu .navbutt.lefts div.down{
    width:  120px;
    height: 5px;
   
    bottom: 0;
    left: 10px;
 
    transform: skewX(-20deg);
}

/*Right side buttons*/
nav .bigmenu .navbutt.rights div.left{
    width: 5px;
    height: 50px;
    
    left: 10px;
    top: 0;
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights div.right{
    width: 5px;
    height: 50px;

    right: 10px;
    top: 0;  
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights div.up{
    width:  130px;
    height: 5px;
   
    top: 0;
    right: 22px;
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights div.down{
    width:  120px;
    height: 5px;
   
    bottom: 0;
    right: 7px;
    transform: skewX(20deg);
}
nav .bigmenu .navbutt.rights p{
    right:8px;
}

/*Gold*/
nav .bigmenu .navbutt div.gold{
    background-color: gold;
      transition: 1s;
    z-index: 22;
}
nav .bigmenu .navbutt div.gold.up{
    width: 0px;
    
    
  
    
  
  
    
    
    
}
nav .bigmenu .navbutt div.gold.down{
    width:  0px;
    
  
   
   
   
    
    
}

/*Hover*/
nav .bigmenu .navbutt:hover div.gold.up{
    width: 130px;
    
    
  
    
  
    
    
    
}
nav .bigmenu .navbutt:hover div.gold.down{
    width:  120px;
    
  
    
   
   
    
    
}



/*Small nav buttons*/
nav.down{
    top: -6vw;
    
    
    
}
button.profileic.ot{
    top: 0vw;
}
nav.down .menu button.shopsmall{
    
    background-image: url(shopping%20cart.png);
    background-size: contain;
    
    
    
}
nav.down .menu button.shopsmall:hover{
    
    background-image: url(Shopping%20cart%20white.png);
    
}
nav.down .menu #menubg{
    
    
    width: 100%;
    height: 100%;
    background-color: #4f4f4f;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    
    
    
    
    
}


/*When menubutt is pressed*/
nav.down.on .menu{
  
    transition: 1s;
    left: 0px;
    
    
    
}

/*Menu button*/
.menubutton{
    width: 180px;
    height: 60px;
    z-index: 21;
    position: absolute;
    top: -200px;
    cursor: pointer;
    transition: 1s;
}
.menubutton.out{
    top: 20px;
}
.menubutton .left,.menubutton .up, .menubutton .right,.menubutton  .down{
    
    position: absolute;
    background-color: gold;
    z-index: 20;
    
    transition: 1s;
}
.menubutton .black{
    background-color: black;
}
.menubutton .gold{
    z-index: 22;
}
.menubutton .up{
    width:  140px;
    height: 5px;
   
    left: 30px;
    transform: skewX(-20deg);
}
.menubutton .left{
    width: 5px;
    height: 50px;

    left: 22px;    
    transform: skewX(-20deg);
}
.menubutton .right{
    width: 5px;
    height: 50px;
    
    left: 22px;
    transform: skewX(-20deg);
}
.menubutton .down{
    width: 140px;
    height: 5px;
    
    top: 50px;
    left: 12px;
    transform: skewX(-25deg);
}
.menubutton .up.gold{
    width:0;
}
.menubutton .down.gold{
    width:0;
}


/* When hovering the menu button*/
.menubutton:hover .down.gold{
    width: 142px;
    
}
.menubutton:hover .up.gold{
    width: 140px;
   
}
.menubutton:hover .right.gold, .menubutton:hover .left.gold{
    height: 50px;
   
}
.menubutton h3{
    position: absolute;
    left: 50px;
    top: -20px;
    font-size: 30px;
    font-family: roboto-bold;
    transition: 0.5s;
}
.menubutton:hover h3{
    color: gold;
}

/*When button clicked*/
.menubutton.on .down.gold{
    width: 0px;
    
}
.menubutton.on .up.gold{
    width: 140px;
   
}
.menubutton.on .left.gold{
    height: 50px;
   
}
.menubutton.on .left{
    width: 138px;
}
.menubutton.on .right{
    left: 160px;
}
.menubutton.on h3{
    color: black;
    z-index: 25;
}

/*When ou adn back*/

.menubutton.on:hover .down.gold{
    width: 0px;
    
}
.menubutton.on:hover .up.gold{
    width: 0px;
   
}
.menubutton.on:hover .right.gold{
    height: 0px;
   
}



/* Small nav out */
.out2{
    width: 200px;
    height: 5vw;
    
    
    position: absolute;
    transition: 0.5s;
    left: -200px;
    
  
    
    z-index: -2;
    
}
.out2#homeout{
    top: calc(100%*(0/4));
}
.out2#shopout{
    top: calc(100%*(1/4));
}
.out2#lagerout{
    top: calc(100%*(2/4));
}
.out2#profileout{
    top: calc(100%*(3/4));
}
.out2 p{
    position: absolute;
    top: -40px;
    width: 100%;
    height: 100%;
    
    text-align: center:
    
    
}

.menu .Home:hover .out2#homeout{
    top: calc(100%*(0/4));
    left: 100%;
  
    
}
.menu .shopsmall:hover .out2#shopout{
    top: calc(100%*(1/4));
    left: 100%;
  
    
}
.menu .lager:hover .out2#lagerout{
    top: calc(100%*(2/4));
   left: 100%;
  
    
}
.menu .profile:hover .out2#profileout{
    top: calc(100%*(3/4));
    left: 100%;
  
    
}

/* MAIN WINDOW */
.content{
   
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100vh;    
    max-width: 100%;
    min-width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    
    
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    

    perspective: 1px;
    transform-style: preserve-3d;
    font-family: roboto-reg;
    overflow-x: hidden;
    background-color: black;
    
}

/* Main Window Parallax effekt */
content, content:before{
    background: 50% 50% / cover;
}
.content::before{
    
   
    
    display: block;
    
    min-height: 100vh;
    max-width: 100vw;
    z-index: -1;
   
    content: "";
    
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    
    
    
    background-image: url(Headerpic%20blurr%20one.png);
    background-size: cover;
    
    
    transform-origin: center center 0;
    transform: translateZ(-4px) scale(5.2);
    
    overflow-x: hidden;
    
}    



/*HEADER*/
header{
     width: 90vw;
    height: 45vw;
    
    border-radius: 20px;

    background-image: url(Headerpic.jpg);
    background-size: cover;
    position:absolute;

    top:6vw;
    left: 5vw;
}
     
/*title*/
header h1{
    
    color: gold;
    
    font-family: roboto-reg;
    z-index: 2;
    
    margin: 0;
}
header #title{
    
    position: absolute;
    width: 420px;
    height: 200px;
    left: 21vw;
    top: 10vw;
    transition: 0.5s;
}
header #title div#h1bg{
    
    position: absolute;
    z-index: 1;
    
    width: 100%;
    height: 100%;
    
    background-color: lightgrey;
    opacity: 0.7;
}
header #title h1#prot{
    
    position: absolute;
 
    left: 30px;
    font-size: 80px;
    
    color: gold;
    
}
header #title h1#prot:before{
    color: black;
    content: "Pro";
}
header #title h1#fix{
  
    position: absolute;
    left:0px;
    font-size: 70px;
    top: 100px;
    left: 150px;
    
}

/* Shop button i header */
button#shop{
    color: floralwhite;
    position: absolute;
    right: 200px;
    bottom: 100px;
    color: gold;
    border-color: gold;
    font-size: 30px;
}
button#shop:hover{
       
     border-color: gold;
    font-size: 40px;
}

/*erbjudande vis dian av header*/
header #erb{
    width: 30vw;
    height: 45vw;
    
    transition: 0.5s;
    position: absolute;
    
    top: 0px;
    z-index: 1;
    
    
}
header #erb #secbg{
    
    
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.90;
    filter: blur(5px);
    z-index: 0;
    position: absolute;
    
}
header #erb div#bild{
    background-image: url(Protein.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 10vw;
    height:10vw;
    
    left: 15vw;
    top: 24vw;
    
    z-index: 20;
    
    
}
header #erb h3#erbTitle{
    top: 29vw;
    z-index: 10;
    width: 350px;
    height: 50px;
    font-family: roboto-reg;
    position:absolute;
    text-align: center;
    font-size: 30px
}
header #erb h3#erbUnder{
    top: 28vw;
    z-index: 10;
    width: 350px;
    height: 50px;
    font-family: roboto-reg;
    font-size: 15px;
    position:absolute;
    text-align: center;
    
    color: gold;
    
}
header #erb #erbPrice{
    top: 29vw;
    z-index: 10;
    width: 250px;
    height: 100px;
    font-family: roboto-reg;
    font-size: 80px;
    position:absolute;
    text-align: center; 
    color: gold;
    
    
}
header #erb button#show{
    
    width: 10vw;
    height: 5vw;
    
    position: absolute;
    top: 35vw;
    left: 240px;
    
    font-size: 30px;
    
     border: none;
    box-sizing: border-box;
    
    border: 2px black solid; 
   
    font-family: roboto-bold;
    font-size-adjust: auto;
    
    
    
}

/* Section Offer */
section.off button{
    
    font-size: 40px;
    color: gold;
    text-align: center;
    
}
.off{
    
    width: 90vw;
    margin-top: 10vw;
    left: 5vw;
    height: 400px;
    
    position: absolute;
    
    
    
    background-color: red;
    border-radius: 10px;
    
    background-image: url(Headerpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#off{
    top: 1000px;
}
.off #offbild{
    height: 80%;
    width: 20%;
    top: 60px;
    position: absolute;
    
    background-image: url(Gainer.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.off #offbutt{
    position: absolute;
    right: 10%;
    top: 40%;
}
.off #offbg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    
}
.off #offtitle{
    position: absolute;
    
    top: 40px;
    left: 300px;
    font-size: 40px;
    
    font-family: roboto-bold;    
}
.off #offunder{
    position: absolute;
    font-size: 70px;
    
    left: 300px;
    top: 100px;
    border: Gold 2px solid; 
}
.off #offunder::after{
    content: "Sale";
    color: gold;
}
    
/* Section offer number 2*/
#off2{
    
    
    
    top: 1800px;
    
   
}


/* FOOTER */
footer{
    height: 458px;
    
    width: 100%;
    box-sizing: border-box;
    
    position: absolute;
    top: 2700px;
    
    border: transparent solid 5px;
    transition: 1s;
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
}
footer button.butt{
    height: calc(100% * (1/2) - 20px);
    width: calc(100% * (1/3) - 20px);
    margin: 10px;
}
footer.add button{
    color:gold;
    border-color: gold;
}
footer button:hover{
    color: black;
    background-color: gold;
    content:"Kontakt us";
}

footer.add{
    border-color: gold;
}


/*MEDIA QUARIES*/

/*Nav*/
@media only screen and (max-width: 1600px) {
    
}
@media only screen and (max-width: 1400px) {
  
    nav .bigmenu .navbutt{
        font-size: 20px;
        
        
    }
    
    .arrow p{    
        font-size: 90px;
        text-align: center;
        
    }
    
    nav .bigmenu #bigshop{
        font-size: 40px;
    }
     nav .bigmenu #bigshop:hover{
        font-size: 50px;
    }
   
    
    
    
}
@media only screen and (max-width: 1000px) {
    nav .bigmenu .navbutt{
        font-size: 15px; 
    }
    nav .bigmenu #bigshop{
        font-size: 40px; 
    }
    nav div.menu{
        width: 360px;
        height: 400px;
        top: 140px;
        left: -360px;
        flex-flow: column;    
    }
    nav.down .menu button{
    font-size: 50px;
    
    width: 300px;
    height: 100px;
        
    text-align: left;
    }
    nav.down .menu button #bg{
        border: 1px gold solid;
        display: block; 
    }
    nav.down .menu button p{
        width: 350px;
        font-size: 40px;
        top: -10px;
    }
    nav.down .menu button div.out2{
        left: 80px;
        z-index: 2;
        text-align: left;
    }
    
    .menu .Home:hover .out2#homeout{
        left: 100px;
    }
    .menu .shopsmall:hover .out2#shopout{
        left: 100px;
    }
    .menu .lager:hover .out2#lagerout{
       left: 100px;
    }
    .menu .profile:hover .out2#profileout{
        left: 100px;
    }
    .menubutton .gold.up, .menubutton .gold.down{
        width: 140px;
    }
    .menubutton h3{
        color: gold;
    }
}
@media only screen and (max-width: 800px) {
    nav .bigmenu .navbutt{
        font-size: 10px;
        
        
    }
    nav .bigmenu #bigshop{
        font-size: 30px;
        
    }
    
    
    
}
@media only screen and (max-width: 600px) {
    nav .bigmenu .navbutt{
        font-size: 5px;
        
        
    }
    nav .bigmenu #bigshop{
        font-size: 20px;
        
    }
    
    
}
@media only screen and (max-height: 500px) {
    nav.dowm{
        position: absolute;
        
    }
    nav.down div.menu{
        
       position: absolute;
        height: 380px;
        width: 650px;
        z-index: 52;
        
        left: auto;
        right: 100px;
        top: -400px;
        margin: 0;
        padding: 0;
        
    }
   
    nav div.menu button{
        width: 80vw;
    }
    nav.down.on div.menu{
        left: auto;
        right: 100px;
        top: 100px;
    }
    nav.down.on .menu button div.out2 p{
        top: -15px;
    }
    
}

/*Set new nav for mobile screens*/

/*Header*/
@media only screen and (max-width: 1400px){
    header section#erb #bild{
        left: 20%;
        top: 39%;
    }
   
    header section#erb h3#erbUnder{
        width: 240px;
    }
    header section#erb h3#erbTitle{
        width: 240px;
        left: 0;
        
        
    }
    header section#erb h3#erbPrice{
        font-size: 50px;
        left: 43%;
        top: 56%;
    }
    
     header section#erb button#show{
    
        width: 200px;
        height: 80px;
        left: 20%;
         font-size: 40px;
         top: 82%;
    }
    
    header button#shop{
        left: 70%;
        
    }
    
    
    
}
@media only screen and (max-width: 1000px) {
    header{
        height: 960px;;
        
        
    }
    header #title{
        left: 10vw;
    }
    header #secbg{
        border-radius: 20px;
    }
    header #erb{
        
        top: 580px;
        
        width: 100%;
        height: 39%;
        

        
        
    }
    
    
    header section#erb div#bild{
        width: 200px;
        height: 200px;
        left: 30px;
        top: 100px;
        
    }
    header section#erb h3#erbUnder{
        
        top: 10px;
        left: 40vw;
        font-size: 30px;
    }
    header section#erb h3#erbPrice{
        top: 0vw;
        font-size: 80px;
    }
    
    header section#erb h3#erbTitle{
        top: 180px;
        left: 40vw;;
        
    }
    header section#erb button#show{
        
        top: 270px;
        left: 43vw;
    }
    header button#shop{
        top: 400px;
        left: 30vw;
    }
    
    
    
}
@media only screen and (max-width: 700px) {
    header #title{
        
        left: 5%;
    }
    
    
    
    
}

/*Section*/
@media only screen and (max-width: 1400px){
    
    .off{
    
    height: 300px;
    
    }
    
    .off h3#offunder{
        top: 24%;
    }
}
@media only screen and (max-width: 1300px){
    
    .off #offbild{
        width: 240px;
        height: 300px;
        top: 20px;
    }
    
    
}
@media only screen and (max-width: 1000px) {
    .off{
        height: 650px;
    }
    .off #offbild{
        top: 20px;
        left: 20vw;
    }
    .off #offtitle{
        top: 230px;
        left: 20vw;
    }
    .off h3#offunder{
        top: 300px;
        left: 20vw;
    }
    .off #offbutt{
        top: 500px;
        left: 25vw;
    }
    
    
}

/*Footer*/ 
@media only screen and (max-width: 1000px) {
   
    
    
}



}

@media only screen and (max-width: 600px) {
    
    header{
        left: 0;
        width: 100vw;
    }
    header div#title{
        left: 5px;
    }
    section#off{
        left: 100px;
        width: 100vw;
    }
    
    
}










