*{
    
    margin: 0;
    padding: 0;
    overflow: hidden;
}



@font-face{
    font-family: roboto-reg;
    src: url(/Fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: roboto-med;
    src: url(/Fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: roboto-bold;
    src: url(/Fonts/Roboto-Bold.ttf);
}
@font-face{
    font-family: roboto-black;
    src: url(/Fonts/Roboto-Black.ttf);
}



#content{
    width: 100vw;
    height: 100vh;    
    
    
    
    overflow-y: scroll;
    overflow-x: hidden;
    
}
#bg{
    
    width: 100%;
    height: 100%;
    background-image: url(Headerpic.jpg);
    filter: blur(5px);
    
    
    
}



header{
     width: 90vw;
    height: 45vw;
    
    
    

    background-image: url(Headerpic.jpg);
    background-size: cover;
    position: absolute;

    
    top:2vw;
    right: 5vw;

    
    
}


section{
    width: 30vw;
    height: 45vw;
    
    background-color: aquamarine;
    
    position: absolute;
    
    top: 0px;
    z-index: 
}

header h1#prot{
    
    position: absolute;
    
    left: 40vw;
    
    font-size: 80px;
    
    color: black;
    top: 10vw;
    
    
    
    
    
    
    
    
}
header h1#fix{
  
    position: absolute;
    left: 50vw;
    font-size: 70px;
    top: 16vw;
    color: black;
    
    
    
}














